.counter-container{
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  padding-top: 200px;
  padding-bottom: 200px;
  font-weight: bold;
}
.counted{
  background: white;
  width: 30%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

}
.counter-sign{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
  color: white;
}
.sign:hover{
  background-color: rgb(83, 100, 83);
}
.sign{
  background: grey;
  width: 40%;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}